@model Juniors_Market.Models.MarketDetailsViewModel

@{
    ViewBag.Title = "GetMarketDetails";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GetMarketDetails</h2>

<div>
    <h4>Market Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MarketSearch.Marketname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MarketSearch.Marketname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MarketDetail.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MarketDetail.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MarketDetail.Products)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MarketDetail.Products)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MarketDetail.Schedule)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MarketDetail.Schedule)
        </dd>
    </dl>

    <div class="col-md-8">
        <iframe width="450"
                height="250"
                frameborder="0" style="border:0"
                src="https://www.google.com/maps/embed/v1/search?key=AIzaSyBe_Z-fhGvrQfjvIH5DNtwC4p3EwAwdSKk&q=@Model.MarketDetail.Latitude,@Model.MarketDetail.Longitude" allowfullscreen></iframe>
    </div>


</div>
<p>
    @Html.ActionLink("Back to List", "Index")
    @Html.ActionLink("Share", "SendEmail", "Customers", new { sId = Model.MarketSearch.Id}, new { @class = "btn btn-primary" })
</p>
