@model Juniors_Market.Models.MarketDetailsViewModel

@{
    ViewBag.Title = "GetMarketDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GetMarketDetails</h2>

<div>
    <h4>Market Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MarketSearch.Marketname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MarketSearch.Marketname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MarketDetail.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MarketDetail.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MarketDetail.Latitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MarketDetail.Latitude)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MarketDetail.Longitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MarketDetail.Longitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MarketDetail.Products)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MarketDetail.Products)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MarketDetail.Schedule)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MarketDetail.Schedule)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
