@model IEnumerable<Juniors_Market.Models.MarketSearch>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>
    Local Farmers Markets near you:
</h2>
<div class="col-md-offset-6">
    <p>
        @Html.ActionLink("My Archived Trips", "Index")|
        @Html.ActionLink("My Account", "Index")
    </p>
</div>


<style>
    tr:nth-child(even){background-color: #f2f2f2;}
</style>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Marketname)

            </th>
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Marketname)

            </td>
            
            <td>

                @Html.ActionLink("View Market Details","GetMarketDetails", "Customers", new{id = item.Id},"")
                @Html.ActionLink("Archive", "Details", new { id = item.SearchId })
                @Html.ActionLink("Review", "Details", new { id = item.SearchId })
            </td>
            
        </tr>
        }

    </table>
